
<form [formGroup]="newSignerForm" novalidate (ngSubmit)="onSubmit()"> 
    <fieldset class="border p-2" style="background-color:white" id="Header" >
        <legend  id="HeaderContent" class="w-auto" style="background-color:rgb(233, 232, 232) " >
            <span  class="float-left" style="font-size: 20px; color:rgb(18, 100, 167);" >
                <i class="fa fa-home" aria-hidden="true" routerLink="/Home"> Home </i> 
            </span>
                <i class="float-center" style="color:rgb(18, 100, 167);">NEO Loan ID : 0</i>
        </legend>
               <p id="Details" class="float-left">First add the Borrower ,then you will be allowed to add the rest of the Loan Application<br>
                 Items with * are required before you may Finish the Loan Application  and send it to NEO  </p><br><br>
                 <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 1 Borrower
                </div>
                </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i><br>
                    Step 2 Signer
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 3 Project
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 4 &nbsp;&nbsp;Fee
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 5 Detail
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 6 Secure
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 7 guarantee
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 8 Lender
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    NEO Comment
                </div>
            </div>

        </div><br>
        <div class="fluid-container" style="background-color:rgb(233, 232, 232)">
            <br>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <button  id="addSigner" class="btn btn-primary btn-block" [disabled]="disableButton" (click)="showTab()">  Add New Signer </button>
            </div>
        </div><br>
        <div class="row" *ngIf="!show">
            <div class="col-sm-2"></div>
            <div class="col-sm-3"> 
                <button class="btn btn-primary btn-block">Go to Step 3</button>
            </div>
        </div>
            <br>
        <div class="card" *ngIf="show">
            <div class="card-header" style="font-weight: bold;color:gray">
                Signer Information
            </div>
            <div class="card-body">
                    <div class="card-title">
                        <button class="btn btn-secondary btn-sm" style="width: 100%;background-color: gray">
                            There are currently no Signers associated with this loan
                        </button>
                        <button class="btn btn-secondary btn-sm" style="font-size:20px;width: 100%;background-color: gray">
                            Add New Signer
                        </button>
                        <p id="warning">All required fields must be entered to add a new Signer.</p>
                    </div>
                    <fieldset class="border p-2" style="background-color:white" id="NewSigner" >
                    <legend  id="title" class="w-auto" >
                        Name
                    </legend>
                    <!--
                        <div *ngIf="addLoanForm.controls['fname'].invalid && ( addLoanForm.controls['fname'].dirty || submitted || addLoanForm.controls['fname'].touched )" class="alert alert-danger">
                                <div *ngIf="addLoanForm.controls['fname'].errors.required">
                                    First Name required
                                </div>
                        </div>
                    -->
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                                <label for="fname" class="float-right">First:<i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="fname" id="fname"  name="fname" required>
                                <div *ngIf="newSignerForm.controls['fname'].invalid && (newSignerForm.controls['fname'].dirty || submitted  || newSignerForm.controls['fname'].touched)" class="alert alert-danger">
                                    <div *ngIf="newSignerForm.controls['fname'].errors.required">
                                        First name required
                                    </div>
                                </div>
                        </div>
                        </div>
                        <div class="col-sm-1">
                                <label for="uname" class="float-right">MI/Name:</label>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="uname" name="uname" required>
                            </div>
                        </div>
                        <div class="col-sm-1">
                                <label for="lname" class="float-right">Last/Suffix:<i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                        </div>
                        <div class="col-sm-1.5">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="lname" id="lname"  name="lname" required>
                                <div *ngIf="newSignerForm.controls['lname'].invalid  && (newSignerForm.controls['lname'].dirty || submitted || newSignerForm.controls['lname'].touched)" class="alert alert-danger">
                                    <div *ngIf="newSignerForm.controls['lname'].errors.required">
                                        last name is required 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-sm-2">
                                <label for="uname" class="float-right">Title:</label>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="uname"  name="uname" required>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                     </div>
                    </fieldset>
                    <fieldset class="border p-2">
                        <legend id="title">Type</legend>
                        <br>
                            <div class="row">
                                <div class="col-sm-2">
                                        <label for="taxtype" class="float-right">Tax Type :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="taxtype" class="form-control form-control-md" formControlName="taxtype" style="background-color:white;">
                                        <option value="" disabled>Choose one</option>
                                        <option *ngFor="let tax of taxtype" [ngValue]="tax">{{tax}}</option>
                                      </select>
                                      <div *ngIf="newSignerForm.controls['taxtype'].invalid && (newSignerForm.controls['taxtype'].dirty || submitted || newSignerForm.controls['taxtype'].touched)" class="alert alert-danger">
                                          <div *ngIf="newSignerForm.controls['taxtype'].errors.required">
                                              This field cannot be blank
                                          </div>
                                      </div>
                                </div>
                                <div class="col-sm-2">
                                        <label for="ftin" class="float-right">FTIN :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" formControlName="ftin" id="ftin" name="ftin" required>
                                            <div *ngIf="newSignerForm.controls['ftin'].invalid && (newSignerForm.controls['ftin'].dirty || submitted || newSignerForm.controls['ftin'].touched)" class="alert alert-danger">
                                                <div *ngIf="newSignerForm.controls['ftin'].errors.required">
                                                    This field cannot be blank
                                                </div>
                                            </div>
                                           </div>
                                <div class="col-sm-2"></div>
                              </div> <br>
                              <div class="row">
                                  <div class="col-sm-2">
                                        <label for="relationship" class="float-right">Relationship to Property:<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                  </div>
                              <div class="col-sm-3">
                                <select id="relationship" class="form-control form-control-md"  formControlName="relationship" style="background-color:white;">
                                    <option value="" disabled>Choose one</option>
                                    <option *ngFor="let rel of relationship" [ngValue]="rel">{{rel}}</option>
                                  </select>
                                  <div *ngIf="newSignerForm.controls['relationship'].invalid  && (newSignerForm.controls['relationship'].dirty || submitted || newSignerForm.controls['relationship'].touched)" class="alert alert-danger">
                                        <div *ngIf="newSignerForm.controls['relationship'].errors.required">
                                            This filed cannot be blank
                                        </div>
                                  </div>
                              </div>
                            </div>
                                <div class="row">
                                        <div class="col-sm-2"></div>
                                          
                                          <div class="col-sm-2"></div>
                                 </div><br>
                    </fieldset>
            </div>
        </div>
        <br>
</div>
<br>
<div class="row" align="float-center" *ngIf="show">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Cancel</button>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary btn-block"> 
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-block" routerLink="/NewLoan/Signer/Project"  > Go to Step 3 </button>
            </div>
            
        </div>
    </fieldset>
    
</form>
       
       
       
       
       
       
       <!--
           <div class="fluid-container" style="background-color:rgb(233, 232, 232)">
          <br>
         <fieldset class="border p-2">
             <legend id="NameCoulum">Name</legend>
        
            </fieldset>         
         </div><br>
         <div class="row" align="float-center">
             <div class="col-sm-3"></div>
             <div class="col-sm-2">
                 <button type="submit" class="btn btn-primary btn-block">Cancel</button>
             </div>
             <div class="col-sm-2">
                 <button type="button" class="btn btn-primary btn-block"> Add  </button>
             </div>
             <div class="col-sm-2">
                 <button type="button" class="btn btn-primary btn-block"> Go to Step 2 </button>
             </div>
             
         </div>
         <br> -->
    
    