<br>
<br>
  <!--<h5 class="card-title">Special title treatment</h5>
  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<div class="row" id="body1">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-4">
        <button  type="button" class="btn btn-outline-primary btn-lg">Show Incomplete Loans</button>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-outline-primary btn-lg">Show Unseen Loans</button><br><br>
    </div>
    <div class="col-sm-2">
    
    </div>
</div>
<div class="row" id="body2">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-4">
        <button type="button" routerLink="/NewLoan" class="btn btn-outline-primary btn-lg">Add New Loan</button><br><br>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-outline-primary btn-lg">Log Checks</button><br><br>
    </div>
    <div class="col-sm-2">
    
    </div>
</div>
