
<div class="row" id="content">
                    <div class="sidebar-column col-md-3" align="middle">
                            <h3> PHOTO GALLERY </h3><br>
                            <img src="/assets/Gallary/image1.jpg" data-toggle="modal" data-target="#myModal12" style="height: 90px;width: 90px" />
                                <div id="myModal12" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image1.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>  
                            <img src="../../assets/Gallary/image2.jpg" data-toggle="modal" data-target="#myModal13" style="height: 90px;width: 90px"/><br>
                               <div id="myModal13" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image2.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                            <img src="../../assets/Gallary/image3.jpg" data-toggle="modal" data-target="#myModal14" style="height: 90px;width: 90px" />
                               <div id="myModal14" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel14" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image3.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                            <img src="../../assets/Gallary/image5.jpg" data-toggle="modal" data-target="#myModal15" style="height: 90px;width: 90px" /> <br>
                                   <div id="myModal15" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel15" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image5.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                            <img src="../../assets/Gallary/image6.jpg" data-toggle="modal" data-target="#myModal16" style="height: 90px;width: 90px" />
                               <div id="myModal16" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image6.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                            <img src="../../assets/Gallary/image7.jpg" data-toggle="modal" data-target="#myModal17" style="height: 90px;width: 90px"/> <br>
                               <div id="myModal17" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image7.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                            <img src="../../assets/Gallary/image8.jpg" data-toggle="modal" data-target="#myModal18" style="height: 90px;width: 90px" />
                               <div id="myModal18" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image8.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                            <img src="../../assets/Gallary/image9.jpg" data-toggle="modal" data-target="#myModal19" style="height: 90px;width: 90px" /> <br>
                               <div id="myModal19" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel19" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image9.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                            <img src="../../assets/Gallary/image10.jpg" data-toggle="modal" data-target="#myModal20" style="height: 90px;width: 90px" /> 
                               <div id="myModal20" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20" aria-hidden="true">
                                      <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <img src="../../assets/Gallary/image10.jpg" class="img-responsive" id="largeimg"/>
                                                </div>
                                            </div>
                                      </div>
                                </div>
                    </div>
                    <div class="sidebar-column col-md-3" align="middle">
                            <h3> OMAHA LOCATION </h3><br>
                            <div id="map1"></div>
                    </div><br><br>
                    <div class="sidebar-column col-md-3" align="middle">
                            <h3> LINCOLN LOCATION </h3><br>
                            <div id="map"></div>
                    </div><br><br>
                    <div class="sidebar-column col-md-3">
                    <h3>OMAHA LOCATION HOURS</h3><br><br>
                    <div class="container" id="text">
                            <br>
                            Omaha Location
                            <br>
                            <br>
                            Mon-Thurs: 1:00pm-9:00pm
                            <br>
                            <br>
                            Fri-Sat: 1:00pm-10:30pm
                            <br>
                            <br>
                            Sunday: 1:00pm-10:00pm
                            <br>
                            <br>
                    </div><br><br>
                    <h3>LINCOLN LOCATION HOURS</h3><br>
                    <div id="text">
                            <br>
                            Mon-Thurs: 2:00pm-9:00pm
                            <br>
                            <br>
                            Friday: 2:00pm-10:30pm
                            <br>
                            <br>
                            Saturday: 1:00pm-10:30pm
                            <br>
                            <br>
                            Sunday: 1:00pm-10:00pm
                    </div>
                 </div>
                 </div>