
<form [formGroup]="ProjectForm" (ngSubmit)="onSubmit()">
    <fieldset class="border p-2" style="background-color:white" id="Header" >
        <legend  id="HeaderContent" class="w-auto" style="background-color:rgb(233, 232, 232) " >
            <span  class="float-left" style="font-size: 20px; color:rgb(18, 100, 167);" >
                <i class="fa fa-home" aria-hidden="true" routerLink="/Home"> Home </i> 
            </span>
                <i class="float-center" style="color:rgb(18, 100, 167);">NEO Loan ID : 0</i>
        </legend>
               <p id="Details" class="float-left">First add the Borrower ,then you will be allowed to add the rest of the Loan Application<br>
                 Items with * are required before you may Finish the Loan Application  and send it to NEO  </p><br><br>
                 <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 1 Borrower
                </div>
                </div>
            <div class="col-sm-1">
                <div class="symbol">
                  <br>
                    Step 2 Signer
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i><br>
                    Step 3 Project
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 4 &nbsp;&nbsp;Fee
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 5 Detail
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 6 Secure
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 7 guarantee
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    Step 8 Lender
                </div>
            </div>
            <div class="col-sm-1">
                <div class="symbol">
                    <br>
                    NEO Comment
                </div>
            </div>

        </div><br>
        <div class="fluid-container" style="background-color:rgb(233, 232, 232)">
            <br>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <button  id="addSigner" class="btn btn-primary btn-block" [disabled]="disableButton" (click)="showTab()">  Add New Project</button>
            </div>
        </div><br>
        <div class="row">
           <div class="col-sm-1">

           </div>
           <div class="col-sm-5">
              <p id="warning">There are currently no Projects associated with this loan.</p><br>
           </div>
        </div>
        <div class="row" *ngIf="!show">
            <div class="col-sm-2"></div>
            <div class="col-sm-3"> 
                <button class="btn btn-primary btn-block">Go to Step 4</button>
            </div>
        </div>
            <br>
        <div class="card" *ngIf="show">
            <div class="card-body">
                    <div class="card-title">
                        <button class="btn btn-secondary btn-sm"  style="font-size:20px;width: 100%;background-color: gray">
                            Add a New Project
                        </button>
                    </div>
                    <fieldset class="border p-2" style="background-color:white" id="NewSigner" >
                    <legend  id="title" class="w-auto" >
                        Name
                    </legend>
                    <div class="row">
                        <div class="col-sm-2">
                                <label for="ProjectCategory" class="float-right">Project Category Type:<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="ProjectCategory" class="form-control form-control-md"  formControlName="ProjectCategory" style="background-color:white;">
                                    <option value="" disabled>Choose one</option>
                                    <option *ngFor="let Prj of ProjectCategory"  [ngValue]="Prj"> {{Prj}}</option>
                                  </select>
                                  <div *ngIf="this.ProjectForm.controls['ProjectCategory'].invalid && ( this.ProjectForm.controls['ProjectCategory'].dirty || this.ProjectForm.controls['ProjectCategory'].touched)" class="alert alert-danger">
                                      <div *ngIf="this.ProjectForm.controls['ProjectCategory'].errors.required">
                                          This filed cannot be blank
                                      </div>
                                  </div>
                            </div>
                        </div>
                     </div>
                    </fieldset>
                    <fieldset class="border p-2">
                        <legend id="title">Address</legend>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                        <label for="legalDescription">Legal Description :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                        <input type="text" class="form-control" id="legalDescription" name="legalDescription" formControlName="legalDescription" required>
                                        <div *ngIf="this.ProjectForm.controls['legalDescription'].invalid && (this.ProjectForm.controls['legalDescription'].dirty  ||  this.ProjectForm.controls['legalDescription'].touched)" class="alert alert-danger">
                                             <div *ngIf="this.ProjectForm.controls['legalDescription'].errors.required">
                                                 this field cannot be blank
                                             </div>
                                        </div>
                                </div>
                              </div> <br>
                              <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-1">
                                  <b>OR</b>
                                </div>
                              </div><br>
                              <div class="row">
                                  <div class="col-sm-2"></div>
                              <div class="col-sm-4">
                                  <label for="address1">Address 1 :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                  <input type="text" class="form-control" id="address1" name="address1"  formControlName="address1" required>
                                  <div *ngIf="this.ProjectForm.controls['address1'].invalid && ( this.ProjectForm.controls['address1'].dirty || this.ProjectForm.controls['address1'].touched)" class="alert alert-danger">
                                      <div *ngIf="this.ProjectForm.controls['address1'].errors.required">
                                          This filed cannot be blank
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-4">
                                  <label for="ftin">Address 2 :</label>
                                  <input type="text" class="form-control" id="uname" name="uname" required>
                              </div> 
                            </div><br>
                                <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-4">
                                                <label for="city">Enter City or RURAL :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                                <input type="text" class="form-control" id="city" name="city" formControlName="city" required>
                                                <div *ngIf="this.ProjectForm.controls['city'].invalid && ( this.ProjectForm.controls['city'].dirty || this.ProjectForm.controls['city'].touched )" class="alert alert-danger">
                                                    <div *ngIf="this.ProjectForm.controls['city'].errors.required">
                                                        this filed cannot be blank
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="state">State :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                                <select id="state" class="form-control form-control-md" formControlName="state"  style="background-color:white;">
                                                    <option value="" disabled>Choose one</option>
                                                    <option *ngFor="let ST of state" [ngValue]="ST"> {{ST}}</option>
                                                  </select>
                                                  <div *ngIf="this.ProjectForm.controls['state'].invalid && (this.ProjectForm.controls['state'].dirty || this.ProjectForm.controls['state'].touched)" class="alert alert-danger">
                                                      <div *ngIf="this.ProjectForm.controls['state'].errors.required">
                                                          this field cannot be blank
                                                      </div>
                                                  </div>
                                            </div>
                                    </div>
                                          <div class="col-sm-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                          <div class="col-sm-4">
                                              <label for="zip">Zip :<i class="fa fa-asterisk" aria-hidden="true"></i></label>

                                              <div class="input-group">
                                                  <input type="text" id ="zip" class="form-control"  formControlName="zip" required/>
                                                  <span class="input-group-addon">-</span>
                                                  <input type="text" class="form-control" formControlName="zip" />
                                                </div>
                                                  <div *ngIf="this.ProjectForm.controls['zip'].invalid && (this.ProjectForm.controls['zip'].dirty || this.ProjectForm.controls['zip'].touched)" class="alert alert-danger">
                                                    <div *ngIf="this.ProjectForm.controls['zip'].errors.required">
                                                        This field is not required
                                                    </div>
                                                  </div>
                                              
                                            </div>
                                            <div class="col-sm-4">
                                              <label for="county">County :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                              <select id="county" class="form-control form-control-md" formControlName="county" style="background-color:white;">
                                                  <option value="" disabled>Choose one</option>
                                                  <option *ngFor="let count of county" [ngValue]="count"> {{count}}</option>
                                              </select>
                                                <div *ngIf="this.ProjectForm.controls['county'].invalid && (this.ProjectForm.controls['county'].dirty || this.ProjectForm.controls['county'].touched)" class="alert alert-danger">
                                                    <div  *ngIf="this.ProjectForm.controls['county'].errors.required">
                                                        This field is required
                                                    </div>
                                                </div>

                                            </div>
                                      </div> <br>
                                      <div class="row">
                                          <div class="col-sm-2"></div>
                                          <div class="col-sm-4">
                                              <div class="form-group">
                                                  <label for="ldistrict">Legislative District :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                                  <select id="ldistrict" class="form-control form-control-md" formControlName="ldistrict" style="background-color:white;">
                                                      <option value="" disabled>Choose one</option>
                                                      <option *ngFor="let ldist of ldistrict" [ngValue]="ldist">{{ldist}}</option>
                                                  </select>
                                                  <div *ngIf="this.ProjectForm.controls['ldistrict'].invalid && (this.ProjectForm.controls['ldistrict'].dirty || this.ProjectForm.controls['ldistrict'].touched)" class="alert alert-danger">
                                                      <div *ngIf="this.ProjectForm.controls['ldistrict'].errors.required">
                                                          This field is required
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-sm-4">
                                              <div class="form-group">
                                                  <label for="cdistrict">Congressional District :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                                  <select id="cdistrict" class="form-control form-control-md" formControlName="cdistrict" style="background-color:white;">
                                                      <option value="" disabled>Choose one</option>
                                                      <option *ngFor="let cdist of cdistrict" [ngValue]="cdist">{{cdist}}</option>
                                                  </select>
                                                  <div *ngIf="this.ProjectForm.controls['cdistrict'].invalid && (this.ProjectForm.controls['cdistrict'].dirty || this.ProjectForm.controls['cdistrict'].touched)" class="alert alert-danger">
                                                      <div *ngIf="this.ProjectForm.controls['cdistrict'].errors.required">
                                                          This field is required
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-2">

                                          </div>
                                          <div class="col-sm-2">
                                              <label for="cofimprovement">Cost of Improvements :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                              <input type="text" class="form-control" formControlName="cofimprovement" id="cofimprovement" name="cofimprovement" required>
                                              <div *ngIf="this.ProjectForm.controls['cofimprovement'].invalid && (this.ProjectForm.controls['cofimprovement'].dirty || this.ProjectForm.controls['cofimprovement'].touched)" class="alert alert-danger">
                                                  <div *ngIf="this.ProjectForm.controls['cofimprovement'].errors.required">
                                                      This field is required
                                                  </div>
                                              </div>
                                          </div> 
                                          <div class="col-sm-2">
                                              <label for="eligibleForLoan">Eligible for Loan :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                              <input type="text" class="form-control" id="eligibleForLoan" name="eligibleForLoan"  formControlName="eligibleForLoan" required>
                                              <div *ngIf="this.ProjectForm.controls['eligibleForLoan'].invalid && (this.ProjectForm.controls['eligibleForLoan'].dirty || this.ProjectForm.controls['eligibleForLoan'].touched)" class="alert alert-danger">
                                                    <div *ngIf="this.ProjectForm.controls['eligibleForLoan'].errors.required">
                                                        This field is required
                                                    </div>
                                             </div>
                                          </div> 
                                          <div class="col-sm-4">
                                              <label for="lenderloan">Lender Loaned Amount for Eligible Portion :<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                              <input type="text" class="form-control" id="lenderloan" name="lenderloan" formControlName="lenderloan" required>
                                              <div *ngIf="this.ProjectForm.controls['lenderloan'].invalid && (this.ProjectForm.controls['lenderloan'].dirty || this.ProjectForm.controls['lenderloan'].touched)" class="alert alert-danger">
                                                    <div *ngIf="this.ProjectForm.controls['lenderloan'].errors.required">
                                                        This field is required
                                                    </div>
                                              </div>
                                          </div> 
                                      </div><br>
                                      <div class="row">
                                         <div class="col-sm-2">
                                           
                                         </div>
                                         <div class="col-sm-8">
                                           <div class="label">If lender loaned amount for eligible portion is less than 100% of eligible for loan amount ,was it solely at the borrow's request ?
                                           </div>
                                           
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="radio1">
                                                  <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"> Yes
                                                </label>
                                              </div>
                                              <div class="form-check-inline">
                                                  <label class="form-check-label" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"> No
                                                  </label>
                                                </div>
                                              </div>
                                         
                                      </div>
                    </fieldset>
            </div>
        </div>
        <br>
</div>
<br>
<div class="row" align="float-center" *ngIf="show">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Cancel</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-block"> Add  </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-block"> Go to Step 4 </button>
            </div>
            
        </div>
    </fieldset>
    
</form>