<div class="panel panel-primary">
        <div class="panel-heading" align="right">
            
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                        <img src="./assets/default_User.jpg" style="height:150px;width:150px" />
                </div>
                <div class="col-sm-6" >
                       <div>Name : {{data.Name}}</div> 
                        <div>Email: </div>
                        <div>Contact No. :</div>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
    
                </div>
                <div class="col-sm-6">
                <input type="button"  class="btn btn-primary" id="View"  value="View"/> &nbsp;
                <input type="button"  class="btn btn-primary" id="Update"  value="Update"/>&nbsp;
                <input type="button"  class="btn btn-primary" id="Delete"  value="Delete"/>&nbsp;
                </div>
            </div>
            
        </div>
    </div>