
<div class="container">
<div class="row">
    <div class="col-sm-8">
    <p id="title">Freezing</p> 
<div class="address">
1918 S. 67th St.<br>
Omaha NE 68106
</div><br>
<div class="fas fa-map-marker-alt">
   &nbsp;<a href="//maps.google.com/maps?saddr=current+location&daddr=1918+S.+67th+St.%0D%0AOmaha+NE+68106%0D%0A" target="_blank" id="info">Get directions</a>
</div><br>
<br>
<div class="fas fa-mobile-alt" itemprop="telephone" id="phone"> 
     &nbsp;402-558-8686
</div> <br>
<br>

<div id="map"></div>
 </div>
 <div class="col-sm-4">
     <br>
     <br>
    <h6>CONTACT US</h6>
    <br>
    <p id="title">Freezing</p> 
<div class="address">
1918 S. 67th St.<br>
Omaha NE 68106
</div><br>
<div class="fas fa-map-marker-alt" id="contact">
   &nbsp;<a href="//maps.google.com/maps?saddr=current+location&daddr=1918+S.+67th+St.%0D%0AOmaha+NE+68106%0D%0A" target="_blank"  id="contact">Get directions</a>
</div>
<br>
<div class="fas fa-mobile-alt" itemprop="telephone" id="phone"> 
     &nbsp;402-558-8686
</div> <br>
<br>

<div id="map"></div>
 </div>
</div>
</div>

