
	
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="/assets/home1.jpg" alt="random first slide"/>
            <div class="carousel-caption">
                <div class="animated slideInRight">
                        <h1>Welcome !</h1>
                        <hr class="underline1">
                        <p>We believe that good times deserve great food  </p>
                </div><br>
            <button class="button button4">Welcome</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../assets/Ice-Cream1.jpg" alt="random second slide"/>
            <div class="carousel-caption">
                <div class="animated slideInRight">
                    <h1>Order Now! Click the button below</h1>
                    <hr class="underline" >
                    <p>We believe that good times deserve great food</p>
                </div><br>
                <button class="button button4">Welcome</button>
            </div>
    </ng-template>
    <ng-template ngbSlide>
            <img src="../../assets/Ice-Cream2.jpg" alt="random third slide"/>
            <div class="carousel-caption">
                <div class="animated slideInRight">
                    <h1>Give us a try , you won't be disappointed.</h1>
                    <hr class="underline" >
                    <p>We believe that good times deserve great food </p>
                </div><br>
                <button class="button button4">Welcome</button>
            </div>
    </ng-template>
    <ng-template ngbSlide>
            <img src="../../assets/Ice-Cream3.jpg" alt="random fourth slide"/>
            <div class="carousel-caption">
            <div class="animated slideInRight">
                <h1>Give us a try, you won't be disappointed.</h1>
                <hr class="underline" >
                <p>We believe that good times deserve great food </p>
            </div><br>
    <button class="button button4">Welcome</button>
            </div>
    </ng-template>
    </ngb-carousel>


