<div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" align="justify">
                <h4 >Contact Management System</h4>
            </div>
            <div class="panel-body">
               <form  class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group"> 
                        <div class="col-sm-2">
                            </div>
                     <div id="error1" class="col-sm-6" *ngIf ="isSubmitted">Invalid User id and password </div>
                    </div>
                    
               <div class="form-group" >
                     <label class="control-label col-sm-2" for="Name"> User ID :</label>
   
                 <div class="col-sm-6" >
                    <input type="text" formControlName="Name" id="Name" name="Name" class="form-control"/>
                   
                </div>
               
                <!--<div *ngIf="isSubmitted && formControls.Name.errors" >
                        <div *ngIf="formControls.Name.errors.required">User ID is required</div>
                      </div>-->
                     
       
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Password"> Password :</label>
                    <div class="col-sm-6">
                    <input type="password" formControlName="Password"  id="Password" name="Password" class="form-control" />
                </div>
               <!-- <div *ngIf="isSubmitted && formControls.Password.errors" >
                        <div *ngIf="formControls.Password.errors.required">Password is required</div>
                      </div> -->
                     
                  
                </div><br>
                        <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"    value="Login Here" />       
                </div>
            </form>
            </div>
         
        </div>
    </div>

    <!--<input type="button" class="btn btn-primary" [routerLink]="['/submitAdmin']" value="Login Here" />
    {{ formControls.Name.errors  && isSubmitted}}
 {{ formControls.Password.errors  && isSubmitted}}
   {{ loginForm.value | json}}-->

    <!--<div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" align="justify">
                <h4 >Contact Management System</h4>
            </div>
            <div class="panel-body">
               <form  class="form-horizontal" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div [hidden]="IsLoggined">Invalid User id and password </div>
                <div class="form-group"  [class.has.error]="name.invalid  && name.touched">
                     <label class="control-label col-sm-2" for="UserName"> User ID :</label>
                 <div class="col-sm-6">
                    <input type="text" formControlName="username" id="UserName" name="UserName" class="form-control"  #name="ngModel" />
                </div>
                <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
                    UserName is required
                </div>
                {{ Data.name }}
                
                </div>

                <div class="form-group" [class.has.error]="password.invalid && password.touched">
                    <label class="control-label col-sm-2" for="Password"> Password :</label>
                    <div class="col-sm-6">
                    <input type="password" id="Password" name="Password" class="form-control"  #password="ngModel"  [(ngModel)]="Data.password" required/>
                </div>
                <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                    Password is required
                </div>
                {{Data.password}}
                </div><br>
                        <div class="col-sm-offset-2 col-sm-10">
                        <input type="button" class="btn btn-primary" (click)="myFun(Data.name,Data.password)" value="Login Here" />       
                </div>
            </form>
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" [routerLink]="['/submitAdmin']" value="Login Here" />-->